:root {
    --hexagon-height: 25vh;
    --hexagon-width: calc((var(--hexagon-height) * 209.354) / 238.826);
    --hexagon-gap: calc(var(--hexagon-width)/5);
    --hexagon-shift: calc((var(--hexagon-width)) + var(--hexagon-gap));
    --row-two-three-shift: calc((var(--hexagon-height)) - (var(--hexagon-height)/3));
    --shift-up-down: 6vh;
    --row-one-giant-hex-margin-top: calc(2 * var(--shift-up-down));
    --row-four-giant-hex-margin-bottom: calc(2* var(--shift-up-down));
    --row-one-margin-left: var(--hexagon-shift);
    --row-two-margin-right: calc(var(--hexagon-shift) - var(--hexagon-shift));
    --row-three-margin-right: calc(2 * var(--hexagon-shift));
    --row-four-margin-right: calc(1 * var(--hexagon-shift));
}

@media screen and (max-width: 1080px) {
    :root {
        --hexagon-height: 16vh;
        --hexagon-width: calc((var(--hexagon-height) * 209.354) / 238.826);
        --hexagon-gap: calc(var(--hexagon-width)/4);
        --hexagon-shift: calc(-1 * var(--hexagon-gap));
        --row-two-three-shift: calc((var(--hexagon-height)));
        --shift-up-down: 0vh;
        --row-one-giant-hex-margin-top: calc(var(--hexagon-height)/2);
        --row-four-giant-hex-margin-bottom: calc(var(--hexagon-height)/2);
        --row-one-margin-left: calc(2 * var(--hexagon-shift));
        --row-two-margin-right: calc(var(--hexagon-shift) - 3 * var(--hexagon-shift));
        --row-three-margin-right: calc(-1 * var(--hexagon-shift));
        --row-four-margin-right: calc(-1 * var(--hexagon-shift));
    }
    .hexagon, .row {
        min-width: var(--hexagon-width);
        max-height: var(--hexagon-height);
    }
    .row.two .hexagon.giant-hex {
        display: none;
    }
    .hexagon.hidden {
        display: none;
    }
    .hexagon.ghost, .img-containing-div.ghost {
        display: none;
    }
    .img-containing-div.giant-hex {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --hexagon-height: 10vh;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 24px;
    overflow-x: hidden;
    background-color: #001B2D;
    color: #F6F9FC;
}

h1 {
    text-align: center;
}

.buffer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0;
    overflow: visible;
    max-height: (var(--hexagon-height));
    gap: var(--hexagon-gap);
}

.row.four {
    align-items: flex-end;
}

.hexagons-only .row {
    z-index: 1;
}

.images-only .row {
    z-index: 10;
}

.hexagon {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('hexagon.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 2;
}

.giant-hex {
    background-image: none;
    z-index: 2; /* Ensure the hexagons are behind the fog overlay */
}

.row.one .giant-hex {
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: var(--row-one-giant-hex-margin-top);
}

.row.two .giant-hex {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: calc(-2 * var(--shift-up-down));
}

.row.four .giant-hex {
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: var(--row-four-giant-hex-margin-bottom);
}

.giant-hex img {
    width: calc(3 * var(--hexagon-width));
    height: calc(3 * var(--hexagon-height));
}

.one .hexagon.ghost {
    background-image: url('hexagon-row-one.svg');
}

.two .hexagon.ghost{
    background-image: url('hexagon-row-two.svg');
}

.three .hexagon.ghost{
    background-image: url('hexagon-row-three.svg');
}

.four .hexagon.ghost {
    background-image: url('hexagon-row-four.svg');
}

.hexagon.hidden {
    opacity: 0 !important;
}

.img-containing-div {
    width: var(--hexagon-width);
    height: var(--hexagon-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-sizer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
}

.img-containing-div img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
    z-index: 1;
}

.row.one { 
    top: calc(-1 * var(--shift-up-down));
    margin-left: var(--row-one-margin-left);
}

.row.two { 
    top: var(--row-two-three-shift);
    margin-right: var(--row-two-margin-right);
}

.row.mobile-only-row {
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    background-color: white;
}

.row.three { 
    bottom: var(--row-two-three-shift);
    margin-right: var(--row-three-margin-right);
}

.row.four { 
    bottom: calc(-1 * var(--shift-up-down));
    margin-right: var(--row-four-margin-right);
}

@media screen and (max-width: 1080px) {
    .images-only .row.one {
        margin-left: calc(var(--row-one-margin-left) + var(--hexagon-width) + var(--hexagon-gap));
    }
    .images-only .row.four {
        margin-right: calc(var(--row-four-margin-right) + var(--hexagon-width) + var(--hexagon-gap));
    }
}

.centered-container {
    height: 350vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.centered {
    display: inline-block;
    padding: 10px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 10;
    height: fit-content;
    width: 65%;
}

.centered > p {
    background: radial-gradient(286.04% 184.95% at 102.28% -9.7%, rgba(156, 220, 0, 1) 0%, rgba(144, 203, 1, 1) 23.49%, rgba(239, 220, 0, 1) 64.45%, rgba(60, 203, 218, 1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
}

.fog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0) 30%, rgba(0, 27, 45, 0.9) 95%);
    pointer-events: none;
    z-index: 5;
    opacity: 0;
    transition: opacity 0.3s ease;
}



