body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 24px;
    overflow-x: hidden;
    background-color: #001B2D;
    color: #F6F9FC;
}

h1 {
    text-align: center;
}

.buffer {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Make sure there's enough height for the rows to start off-screen */
.block-container {
    position: relative;
}

.row {
    position: fixed; /* Fixed position relative to viewport */
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    opacity: 0; /* Hidden initially */
    transform: translateX(-100%); /* Start off-screen to the left */
}

.row > div {
    background-color: #145377;
    filter: drop-shadow(0px 11px 21px rgba(0, 55, 76, 0.68));
}

.row.one { top: 20%; }
.row.two { 
    top: 30%; 
    margin-left: 60px;
}
.row.three { 
    top: 60%;
    margin-left: -60px;
}
.row.four { top: 70%; }
.row.five { top: 100%; }

.row p {
    margin: 10px;
    padding: 10px;
    text-align: center;
}

.centered-container {
    height: 300vh;
    display: flex;
    justify-content: center;
    align-items: top;
}

.centered {
    display: inline-block;
    padding: 10px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    z-index: 10;
    height: fit-content;
    width: 66%;
}

.centered > p {
    background: var(--Gradient-_text, radial-gradient(286.04% 184.95% at 102.28% -9.7%, #9CDC00 0%, #90CB01 23.49%, #EFDC00 64.45%, #3CCBDA 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
